name: Sync GitHub to CodeCommit

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout GitHub repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::223533143333:role/GitHubToCodeCommitPushAndPullRole
          aws-region: ap-south-1

      - name: Push to CodeCommit
        run: |
          git config --global user.name "Sai Sowmya"
          git config --global user.email "sowmya.vvs1997@gmail.com"

          git remote add codecommit https://git-codecommit.ap-south-1.amazonaws.com/v1/repos/home-automation-prov-deploy-infra-amp
          git push codecommit main --force
